.main {
   	text-align: center;
	padding-top: 0px;
	font-family: "DM Sans";
	font-size: 1.5em;
	background-image: linear-gradient(#33b2db, #9094fa);
	background-attachment: fixed;
}

.NavPrimary {
	display: flex;
	flex-direction: column;
	background-color: #7a9fd6; /* Set darker blue background */
	height: 600px; /* Percentage of the website view that should be for the nav bar */ 
	width: 100%;
	padding-top: 10px; /* So the text isn't pressed against the top of the screen */
}

.NavBar {
	width: 100%;
	max-height:100px;
	position: fixed; /* Force the navbar to be at the top of the view */
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.ContactButton {
	background-color: #3998eb;
	font-size: 16px;
	margin-top: 30px;
	border: none;
	color: white;
	height: 40%;
	width: auto;
	min-width: 130px;
	border-radius: 25px;
}

.t0 {
	margin-left: auto;
	padding-right: 10%;
}

.t1 {
	margin-right: auto;
	padding-left: 10%;
}

.WhiteLogo {
	width:300px;
	height:auto;
}
.team {
	padding-left: 20%;
	padding-right: 20%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 90%;
}

.teamListEntity {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	  word-wrap: break-word;

}

.HeadShotPic {
	height: 150px;
	max-width: 150px;
	border-radius: 15px;
}

.TeamListEntityName {
	font-weight: bold;
	max-width:100%;
}

.TeamListEntityRole {
	font-size: 0.7em;
	max-width:20ch;
	max-height:900px;
	font-family: "DM Sans";
}

.companyExplanation {
	padding-left: 20%;
	padding-right: 20%;
}


.DivLogo {
	padding-left: 20%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	font-family: "DM Sans";
	font-size: 2.0em;
	font-weight: bold;
	color: #333333;
}


.InfoText {
	padding-top: 15%;
	display: flex;
	flex-direction: column;
}

.HeaderText {
	font-size: 2.0em;
	bottom: 0px;
	color: white;
}

.SubHeaderText {
	color: white;
}
.SecondaryText {
	font-size: 1.0em;
	color: #333333;
}

.TryButton {
  background-color: #4524ac;  
  border: none;
  color: white;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  width: 15%;
  min-width:300px;
  height: 60px;
  border-radius: 15px;
}

.ButtonDiv {
	padding-top: 1%;
	padding-bottom: 1%;
}

.CartArt {
	width: 20%;
	height:auto;
	padding-bottom: 5%;
}

.companyExplanation {
	font-family: "DM Sans", "Futura";
}
