@font-face {
	font-family: duck;
	src: url(../include/ProximaNova-Regular.otf);
}

.main {
   	text-align: center;
	padding-top: 0px;
	font-family: "DM Sans";
	font-size: 1.5em;
	background-image: linear-gradient(#33b2db, #9094fa);
	background-attachment: fixed;
	animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.NavPrimary {
	display: flex;
	flex-direction: column;
	background-color: #7a9fd6; /* Set darker blue background */
	height: 600px; /* Percentage of the website view that should be for the nav bar */ 
	width: 100%;
	padding-top: 10px; /* So the text isn't pressed against the top of the screen */
}

.NavBar {
	width: 100%;
	max-height:100px;
	position: fixed; /* Force the navbar to be at the top of the view */
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	z-index:99;
	/* Fade in nav bar https://blog.hubspot.com/website/css-fade-in */
	/* Delayed appereance */
	opacity:0;
	animation: fadeInAnimation ease 3s;
	animation-delay: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.MobileNavBar {
	width: 100%;
	max-height:20px;
	font-size: 0.2em;
	padding-bottom: 5%;
	padding-bottom: 5%;
}

.MobileContactButton {
	background-color: #3998eb;
	font-size: 16px;
	border: none;
	margin-top:0px;
	color: white;
	height: 50px;
	width: auto;
	min-width: 130px;
	border-radius: 25px;
}
.ContactButton {
	background-color: #3998eb;
	font-size: 16px;
	margin-top: 30px;
	border: none;
	color: white;
	height: 40%;
	width: auto;
	min-width: 130px;
	border-radius: 25px;
	font-family: duck;
}

.AppLinksBar {
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-top: 5%;
	padding-bottom: 6%;
}

.PlayBadge {
	height: 40px;
	padding-left: 2%;
	width: auto;
}

.t0 {
	margin-left: auto;
	padding-right: 10%;
}

.t1 {
	margin-right: auto;
	padding-left: 10%;
}

.WhiteLogo {
	width:300px;
	height:auto;
}
.team {
	padding-left: 5%;
	padding-right: 5%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.teamListEntity {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	word-wrap: break-word;
	padding-left:1%;
	padding-right:1%;
}

.HeadShotPic {
	height: 150px;
	max-width: 150px;
	border-radius: 15px;
}

.TeamListEntityName {
	font-family: duck;
	font-weight: bold;
	max-width:100%;
}

.TeamListEntityRole {
	font-family: duck;
	font-size: 0.7em;
	max-width:15ch;
	max-height:900px;
}

.companyExplanation {
	padding-left: 10%;
	padding-right: 10%;
	animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


.DivLogo {
	padding-left: 20%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	font-family: "DM Sans";
	font-size: 2.0em;
	font-weight: bold;
	color: #333333;
}


.InfoText {
	font-family: duck;
	padding-top: 15%;
	display: flex;
	flex-direction: column;
	align-items:center;
}

.HeaderText {
	font-family: duck;
	font-size: 3.0em;
	bottom: 0px;
	color: white;
	animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
	padding-top:10%;
	padding-bottom:8%;
}
.MobileHeaderText {
	font-family: duck;
	font-size: 1.3em;
	bottom: 0px;
	color: white;
	animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
	padding-top:10%;
	padding-bottom:8%;
	margin-top:5%;
}

.SubHeaderText {
	font-family: duck;
	color: white;
	animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.SecondaryText {
	font-size: 1.0em;
	color: #333333;
	animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.MobileSecondaryText {
	font-size: 0.7em;
	color: #333333;
	animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.TryButton {
	font-family: duck;
	background-color: #4524ac;  
  	border: none;
  	color: white;
  	text-align: center;
  	font-size: 26px;
  	font-weight: 700;
  	width: 15%;
  	min-width:300px;
  	height: 60px;
  	border-radius: 15px;
}

.ButtonDiv {
	padding-top: 1%;
	padding-bottom: 1%;
}

.CartArt {
	width: 20%;
	height:auto;
}

.companyExplanation {
	font-family: duck;
}

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.mobilefooter {
	text-align: center;
	display: flex;
	flex-direction: column;
	padding-top:10px;
}
.policytext {
	font-family: duck;
	padding-right:10px;
	font-size: 0.7em;
	color: #333333;
	text-decoration: none;
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
}

.SocialDiv {
	min-width:500px;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:baseline;
	align-content:center;
	flex-wrap:nowrap;
}
.SocialLogo {
	width:50px;
	height:auto;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:8px;
}
