@font-face {
	font-family: duck;
	src: url(../include/ProximaNova-Regular.otf);
}

.categoryForm {
	border-radius: 10px     10px      0           0;
    box-shadow: 0 0 0pt 1pt #333333;
	background-color: #68ADEB;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top:10px;
	padding-bottom:10px;
	flex-wrap: wrap;
	font-family: duck;

}

.categoryForm li {
	list-style-type: none;
	padding-top:10px;
	padding-bottom:10px;
}

.categoryForm input[type="radio"] {
  opacity: 0.01;
}

.categoryForm label {
  padding: 5px;
  border: 2px solid black;
  border-radius:10px;
  cursor: pointer;
  padding-left:25px;
  padding-right:25px;
  background-color: #D8F4F6;
}
.categoryForm input[type="radio"]:checked+label,
.Checked+label {
  border-radius:10px;
  color: white;
  background-color: #29C7C7;
	border-color: black;
	font-weight: bold;
}

.itemListForm {
	border-radius: 0 0 10px     10px;
    box-shadow: 0 0 0pt 1pt #333333;
	margin-bottom:10px;
	padding-top:10px;
	background-color: #D8F4F6;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	min-height:50px;
	align-items:baseline;
	flex-wrap: wrap;
	justify-content: center;
}

.itemListForm input {
	visibility: hidden;
}
.itemListForm li {
	padding-top:10px;
	padding-bottom:10px;
}
.itemListForm label {
  border: 1.5px solid black;
  border-radius:8px;
  padding-left: 15px;
  padding-right:15px;
  padding-top:3px;
  padding-bottom:3px;
}

.itemListForm input[type=checkbox]:checked + label {
	color: white;
  background-color: #29C7C7;
  font-weight: bold;
}
