.explanation {
	padding-left:50%;
}

.AppLinksBar {
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-top: 5%;
	padding-bottom: 6%;
}

.PlayBadge {
	height: 40px;
	padding-left: 2%;
	width: auto;
}

.team {
	color: black;
}

.teamHolder {
	background-color:#8BE1E7;
	border-radius:30px;
	padding-top: 2%;
	color:white;
	width:80%;

}

.SocialDiv {
	background-color: #7F80FB;
	border-radius:30px;
	width:50%;
	display:flex;
	flex-direction:column;
	align-items: center;
	padding-top:1%;
	padding-bottom:1%;
	color:white;
}

.SocialIcons {
	display: flex;
	flex-direction: row;
	align-items:baseline;
}

.ContactButton {
	border-radius:10px;
	width:150px;
	height:50px;
	margin-left:4px;
	margin-right:4px;
	margin-bottom:9px;
	margin-top:0px;
}
