@font-face {
	font-family: duck;
	src: url(../include/ProximaNova-Regular.otf);
}

.primary {
	background-color: #68ADEB;
   	text-align: center;
   	display:flex;
   	flex-direction:column;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	justify-content: center;
	margin-top: 1%;
	margin-bottom: 1%;
	color: white;
	border: 1.5px black;
	border-radius: 25px;
}

.inner {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items:stretch;
}

.StoreSearcher {
	justify-content: center;
	padding-left:5%;
	padding-right:5%;
	font-family: duck;
}
.storeDescriptorLabel {
	font-weight:bold;
}


.BackButton {
  cursor: pointer;
  background-color: #68ADEB;
  border: 2px solid black;
  color: white;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  font-family: duck;
  padding: 5px;
  padding-left:25px;
  padding-right:25px;
}
.ButtonHolder{
	padding-top:10px;
	padding-bottom:10px;
}

.SearchPageHeader {
}


.Logo {
	padding-top: 16px;
	width: 100%;
}

.NavigateButton {
	margin-left:18%;
	width:40px;
	height:auto;
}
