@font-face {
	font-family: duck;
	src: url(../include/ProximaNova-Regular.otf);
}

.primary {
	background-color: #7a9fd6;
   	text-align: center;
   	display:flex;
   	flex-direction:column;
	border-radius: 25px;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
	color: #333333;
}

.StoreSearcher {
	justify-content: center;
	padding-left:25%;
	padding-right:25%;
	font-family: duck;
}
.storeDescriptorLabel {
	font-weight:bold;
}


.BackButton {
  cursor: pointer;
  background-color: #68ADEB;
  border: 2px solid black;
  color: white;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  font-family: duck;
  padding: 5px;
  padding-left:25px;
  padding-right:25px;
}
.ButtonHolder{
	padding-top:10px;
	padding-bottom:10px;
}

.SearchPageHeader {
}


.Logo {
	padding-top: 16px;
	width: 90%;
}
