.main {
   	text-align: center;
	padding-top: 10px;
	font-family: "DM Sans";
	font-size: 1.5em;
}

.team {
	padding-left: 20%;
	padding-right: 20%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 90%;
}

.teamListEntity {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	  word-wrap: break-word;

}

.HeadShotPic {
	height: 150px;
	max-width: 150px;
	border-radius: 15px;
}

.TeamListEntityName {
	font-weight: bold;
	max-width:100%;
}

.TeamListEntityRole {
	font-size: 0.7em;
	max-width:20ch;
	max-height:900px;
	font-family: "DM Sans";
}

.companyExplanation {
	padding-left: 20%;
	padding-right: 20%;
}

.NavPrimary {
	display: flex;
	flex-direction: column;
	background-color: #7a9fd6; /* Set darker blue background */
	/* Use Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
	height: 600px; /* Percentage of the website view that should be for the nav bar */ 
	width: 100%;
	padding-top: 10px; /* So the text isn't pressed against the top of the screen */
}

.DivLogo {
	padding-left: 20%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	font-family: "DM Sans";
	font-size: 2.0em;
	font-weight: bold;
	color: #333333;
}

img.align-self {
	align-self: center;
    width:15%; /* you can use % */
    height: auto;
	padding-right:8%;
}

.InfoText {
	padding-top: 5%;
	display: flex;
	flex-direction: column;
}

.HeaderText {
	font-size: 4.0em;
	bottom: 0px;
}

.SecondaryText {
	color: #333333;
}

.TryButton {
  background-color: #0d3281;  
  border: none;
  color: white;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  width: 15%;
  min-width:300px;
  height: 60px;
  border-radius: 15px;
}

.ButtonDiv {
	padding-top: 1%;
	padding-bottom: 1%;
}
