.NavPrimary {
	display: flex;
	flex-direction: column;
	background-color: #7a9fd6; /* Set darker blue background */
	/* Use Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
	height: 600px; /* Percentage of the website view that should be for the nav bar */ 
	width: 100%;
	padding-top: 10px; /* So the text isn't pressed against the top of the screen */
}

.DivLogo {
	padding-left: 20%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	font-family: "DM Sans";
	font-size: 2.0em;
	font-weight: bold;
	color: #333333;
}

img.align-self {
	align-self: center;
    width:15%; /* you can use % */
    height: auto;
	padding-right:8%;
}

.InfoText {
	padding-top: 5%;
	display: flex;
	flex-direction: column;
}

.HeaderText {
	font-size: 4.0em;
	bottom: 0px;
}

.SecondaryText {
	color: #333333;
}

.TryButton {
  background-color: #0d3281;  
  border: none;
  color: white;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  width: 15%;
  min-width:300px;
  height: 60px;
  border-radius: 15px;
}

.ButtonDiv {
	padding-top: 1%;
	padding-bottom: 1%;
}
