/* https://stackoverflow.com/questions/16242980/making-radio-buttons-look-like-buttons-instead */
/* https://stackoverflow.com/questions/5523735/how-to-make-a-radio-button-look-like-a-toggle-button */

.itemPicker input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
}

.itemPicker input[type="radio"]:checked+label,
.Checked+label {
  background: yellow;
}


.itemPicker label:hover {
	background: green;
}
